body {
  background-color: black !important;
}

.appbar {
  background: black !important;
}

.buttons {
  margin-left: auto !important;
}

.buttonColor {
  color: white !important;
}

.logo {
  margin-left: auto !important;
}
