body {
  background-color: black ;
}

.appbar {
  /* Allows for modal to be brought to front of appbar */
  z-index: 1 !important;
}

.buttons {
  margin-left: auto !important;
}

.letter-tile {
  display: inline-block;
  border: 2px solid grey !important;
  margin: 2px;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.correct {
  background-color: #538d4f;
  border: solid #538d4f;
}

.present {
  background-color: #b59f3b;
  border: solid #b59f3b;
}

.absent {
  background-color: #8e8e88;
  border: solid #8e8e88;
}

.empty {
  background-color: black;
  border: solid black;
}

.example {
  padding-left: 12px;
}

.home-button {
  color: white
}

.guess {
  display: flex;
}

.letter-container {
  max-width: max-content;
  margin: 2rem auto;
}

